## .bashrc_private
alias vi="vim"

export PATH="$HOME/local/bin:$PATH"

## go
export GOROOT="/usr/local/opt/go/libexec"
export GOPATH="$HOME/go"
export PATH="$PATH:$GOPATH/bin"

## homebrew
if [ -f $(brew --prefix)/etc/bash_completion ]; then
  . $(brew --prefix)/etc/bash_completion
fi

## direnv
eval "$(direnv hook bash)"

## anyenv
export PATH="$HOME/.anyenv/bin:$PATH"
eval "$(anyenv init -)"

## android
export JAVA_HOME=`/usr/libexec/java_home -v 1.8`
export ANDROID_HOME="$HOME/Library/Android/sdk"
export PATH=${PATH}:${ANDROID_HOME}/platform-tools:${ANDROID_HOME}/tools

## AWS
complete -C '/usr/local/bin/aws_completer' aws

