[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  graph = log --graph --tags --date-order -C -M -n 30 --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=iso
[color]
  ui = true
#[user]
#  name = myuser
#  email = myuser@localhost
[core]
  excludesfile = ~/.gitignore
  editor = /usr/bin/vim
[push]
  default = simple
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[diff]
  compactionHeuristic = true
